<!DOCTYPE html>
{% autoescape true %}
<html>
   <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
      <style>
	 .link {
	    font-size:large;
	 }
      </style>
   </head>
   <body>
      {% if not displayAll %}
      <h2>Showing Information of User: {{user}}</h2>
      {% else %}
      <h2>Welcome {{ user }}</h2>
      {% endif %}
      {% if not displayAll %}
      <a style="float:right;margin-right:400px" href="/">Home</a>
      {% endif %}
      <div id="reservations">
	 {% if reservations %}
	 <h3>Upcoming Reservations</h3>
	 <p style="color:red">{{ update }}<p>

	 {% for reservation in reservations %}
	 <div class="reservation">
	    <a class="link" href="/reservation?resId={{ reservation.resource.resourceId }}">{{ reservation.resource.name }}</a>
	    <p>Date: {{ reservation.startDate.strftime('%d/%b/%Y') }}</p>
	    <p>Start Time: {{ reservation.startTime }}</p>
	    <p>Duration: {{ reservation.duration }}</p>
	    <a href="/delRes?resId={{ reservation.reservationId }}">Delete</a>
	 </div>
	 {% endfor %}
	 {% else %}
	 <h3>You have no upcoming reservations</h3>
	 <p style="color:red">{{ update }}<p>
	 {% endif %}
      </div>
      <br />
      <div id="resources">
	 {% if resources %}
	 <h3>My Resources</h3>
	 {% for resource in resources %}
	 <div class="resource">
	    <a class="link" href="/resourceId?resId={{ resource.resourceId }}">{{ resource.name }}</a>
	    <p>Start Time: {{ resource.startTime.strftime('%d/%b/%Y %H:%M') }}</p>
	    <p>End Time: {{ resource.endTime.strftime('%d/%b/%Y %H:%M') }}</p>
	    {% if resource.tags %}
	    <b>Tags:</b>
	    {% for tag in resource.tags %}
	    <a href="/tag?tag={{ tag }}">{{ tag }}</a>
	    {% endfor %}
	    {% endif %}
	    <br />
	    <!--
	    <a target="_blank" href="/rss?resId={{ resource.resourceId }}">rss</a>
	    -->
	 </div>
	 {% endfor %}
	 {% else %}
	 <h3>You have no resources available</h3>
	 {% endif %}
      </div>
      {% if displayAll %}
      <div id="allResources">
	 <h3>All Available Resources</h3>
	 {% for resource in allResources %}
	 <div class="resource">
	    <a class="link" href="/reservation?resId={{ resource.resourceId }}">{{ resource.name }}</a>
	    <p>Start Time: {{ resource.startTime.strftime('%d/%b/%Y %H:%M') }}</p>
	    <p>End Time: {{ resource.endTime.strftime('%d/%b/%Y %H:%M') }}</p>
	    {% if resource.tags %}
	    <b>Tags:</b>
	    {% for tag in resource.tags %}
	    <a href="/tag?tag={{ tag }}">{{ tag }}</a>
	    {% endfor %}
	    {% endif %}
	    <br />
	    <!--
	    <a target="_blank" href="/rss?resId={{ resource.resourceId }}">rss</a>
	    -->
	 </div>
	 {% endfor %}
      </div>
      {% endif %}
      <br />
      {% if displayAll %}
      <a style="position:relative;left:20%;" class="link" href="/createResource">Create New Resource</a>
      {% endif %}
      <div>
	 <a href="{{ url|safe }}">{{ url_linktext }}</a>
      </div>
   </body>
</html>
{% endautoescape %}
