<!DOCTYPE html>
{% autoescape true %}
<html>
   <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   </head>
   <body>
      <a style="float:right;margin-right:400px" href="/">Home</a>
      <h4>Resource Information</h4>
      <p style="color: red">{{ error }}</p>
      <b>{{ resource.name }} </b>
      <p>Start Time: {{ resource.startTime.strftime('%d/%b/%Y %H:%M') }}</p>
      <p>End Time: {{ resource.endTime.strftime('%d/%b/%Y %H:%M') }}</p>
         <!--
	 <a href="/rss?resId={{ resource.resourceId }}">rss</a>
	 -->
      <br/>
      <div id="reservations">
	 {% if reservations %}
	 <h4>Reservations made on this Resource</h4>
	 {% for reservation in reservations %}
	 <div class="reservation">
	    <a href="/userId?user={{ reservation.owner.email }}">{{ reservation.owner.nickname }}</a>
	    <p>Date: {{ reservation.startDate.strftime('%d/%b/%Y') }}</p>
	    <p>Start Time: {{ reservation.startTime }}</p>
	    <p>Duration: {{ reservation.duration }}</p>
	 </div>
	 {% endfor %}
	 {% else %}
	 <h4>There are no reservations for this Resource</h4>
	 {% endif %}
      </div>
      <br/>
      <form action="/reservation" method="post">
	 <input type="hidden" name="resId" value={{ resource.resourceId }}>
	 <input type="hidden" name="date" value={{ resource.startTime.date().strftime('%d/%m/%Y') }}>
	 <b>Make Reservation</b>
	 <p>Date: {{ resource.startTime.date().strftime('%d/%b/%Y') }}</p>
	 <div>
	    <p>Start Time</p>
	    <textarea name="start" placeholder="H:M" method="post"></textarea>
	 </div>
	 <div>
	    <p>Duration (In minutes)</p>
	    <input type="number" name="duration" method="post"></textarea>
      </div>
      <div><input type="submit" value="Reserve"></div>
   </form>
</body>
</html>
{% endautoescape %}
