<!DOCTYPE html>
{% autoescape true %}
<html>
   <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   </head>
   <body>
      <a style="float:right;margin-right:400px" href="/">Home</a>
      <div style="position:absolute;left:50%;top:15%">
	 <form action="/resource" method="post">
	    <h3>Edit Resource</h3>
	    <p>Name of Resource</p>
	    <input type="hidden" name="resId" value="{{ resource.resourceId }}"></input>
	    <div><textarea name="name" method="post">{{ resource.name }}</textarea></div>
	    <div id="resourceTime">
	       <div class="resTime">
		  <p>Date</p>
		  <textarea name="date" method="post">{{ resource.startTime.strftime('%d/%m/%Y') }}</textarea>
	       </div>
	       <div class="resTime">
		  <p>Start Time</p>
		  <textarea name="start" method="post">{{ resource.startTime.strftime('%H:%M') }}</textarea>
	       </div>
	       <div class="resTime">
		  <p>End Time</p>
		  <textarea name="end" method="post">{{ resource.endTime.strftime('%H:%M') }}</textarea>
	       </div>
	    </div>
	    <p>Tags</p>
	    <div>
	       <textarea name="tags" method="post">{{ resource.tags|join(' ') }}</textarea>
	    </div>
	    <div><input type="submit" value="Submit Changes"></div>
	 </form>
      </div>
      <div>
	 <h3>Resource</h3>
	 <p style="color:green;">{{ update }}</p>
	 <p style="color:red">{{ error }}</p>
	 <b>{{ resource.name }} </b>
	 <p>Start Time: {{ resource.startTime }}</p>
	 <p>End Time: {{ resource.endTime }}</p>
	 {% if resource.tags %}
	 <b>Tags:</b>
	 {% for tag in resource.tags %}
	 <a href="/tag?tag={{ tag }}">{{ tag }}</a>
	 {% endfor %}
	 {% endif %}
	 <br \>
	 <!--
	 <a href="/rss?resId={{ resource.resourceId }}">rss</a>
	 -->
      </div>
      {% if resource.owner.email != user %}
      <a href="/reservation?resId={{ resource.resourceId }}">Make Reservation</a>
      {% endif %}
      <br/>
      {% if reservations %}
      <h4>Reservations made on this Resource</h4>
      {% for reservation in reservations %}
      <div class="reservation">
	 <p>User: <a href="/userId?user={{ reservation.owner.email }}">{{ reservation.owner.nickname }}</a></p>
	 <p>Start Time: {{ reservation.startTime }}</p>
	 <p>Duration: {{ reservation.duration }}</p>
      </div>
      {% endfor %}
      {% else %}
      <h4>There are no reservations on this Resource</h4>
      {% endif %}
   </body>
</html>
{% endautoescape %}
