body {
   font-family: Verdana, Helvetica, sans-serif;
   background-color: #DDDDDD;
}

#resourceTime {
   display: inline-block;
}

.resTime {
   float:left;
   padding:5px;
}

#resources {
   display: inline-block;
   max-width:50%;
}

#reservations {
   display: inline-block;
   max-width:50%;
}

.reservation {
   float: left;
   padding: 5px;
}

.resource {
   float:left;
   padding:5px;
   padding-bottom:1cm;
}

#allResources {
   float:right;
   position: absolute;
   left:60%;
   top:1%;
   display;inline-block;
}

b {
   font-size:16px;
}

p {
   font-size:12px;
}

a {
   font-size:14px;
}

#allResources p, #allResources b {
   
}
